body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  color: snow;
  text-align: center;
}

.menor {
  color: blue;
}

.mayor {
  color: blueviolet;
}

button {
  margin: 0px 0.5rem;
}
